body {
    background-color: black;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.navbar {
    list-style: none;
    font-family:cursive;
}
.navbarlist {
    color: white;
    text-decoration: none;
    font-size:larger;
    background: linear-gradient(to top,white 0%, white 10%, transparent 10.01%) no-repeat center bottom / 0 50%;
    transition: background-size .7s;
}

.navbarlist:hover {
    color: #b200c3;
    background-size: 100% 50%;
}

.navbarli {
    display:inline-block; 
    margin-left: 12%;
    margin-top: 2em;
}

#navbarpop {
    background-color: gray;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }
  
  #navbarpop a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbarpop a:hover {
    color: #b200c3;
  }



  

/* Conteneur principal */
.overlay-image {
  position:sticky;
  width: 20em;
  margin: 5em 2em 5em 2em;
 }
 
 /* Image originale */
 .overlay-image .image {
  /*display: block;*/
  width: 20em;
  height: auto;
 }
 
 /* Texte original */
 .overlay-image .text {
  color: #fff;
  font-size: 30px;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #b200c3;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
 }
 /* Overlay */
.overlay-image .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 20em;
  opacity: 0;
  transition: .5s ease;
 }
 
 /* Apparition overlay sur passage souris */
 .overlay-image:hover .hover {
  opacity: 1;
 }
 /********* Hover background et texte uniquement *******/

.overlay-image .normal {
  transition: .5s ease;
 }
 .overlay-image:hover .normal {
  opacity: 0;
 }
 .overlay-image .hover {
  background-color: rgba(0,0,0,0.7);
 }




 .test {
  color: #fff;
  font-size: 1,5em;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #b200c3;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
 }










  body::-webkit-scrollbar {
    width: 7px;
  }
  body::-webkit-scrollbar-track {
    background: black;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #b200c3;
    border-radius: 20px;
  }